<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body> -->






    // passport.js

<!--     
    <header> 

        hii
    </header> -->


    <!-- <%- include('_header');%> -->
    <!-- <form action="/users/Delete-Session" method="GET">
        <button type="submit">SignOut</button>
    </form>
    <p><h1>this is profile////<%=title%>  </h1></p>


    <%- include('_footer');%> -->
<!--     
    <footer>
        footer
    </footer> -->
<!-- </body>
</html> -->

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body> -->

<!--     
    <header> 

        hii
    </header> -->


    <!-- <%- include('_header');%> -->
    <form action="/users/Delete-Session" method="GET">
        <button type="submit">SignOut</button>
    </form>
    <p><h1>this is profile////<%=title%>  </h1></p>


    <!-- <%- include('_footer');%> -->
<!--     
    <footer>
        footer
    </footer> -->
<!-- </body>
</html> -->




